<body>
<!--partial html for use in rendering different homepages; shows the main content on the homepage-->
<div class="container">
  <h3>Welcome to RateMyClass</h3>
  <p>
      Here you can search for a course with a given professor at a given university and find reviews from your peers about there experience taking the class. 
      Get started by searching for a course above or write your own review!
  </p>
  <div align="center">
      <%= image_tag("logo.png", class: "img-fluid", size: "960x540") %>
  </div>
</div>

</body>