<body>
  <div style="color:red">
      <head>
        <title>RateMyClass Log out</title>
      </head>
      <h1 style="text-align:center;">You are now logged out!</h1>
      <div align="center">
        <%= button_to 'Click here to be redirected to homepage', homepage_path, :class => "btn btn-primary btn-lg", :id => "Redirect", style: "padding-left: 2.5rem; padding-right: 2.5rem;" %>
      </div>
  </div>
</body>