<%= form_tag homepage_path, :method => :get do %>
  <head>
    <title>RateMyClass Log out</title>
  </head>
  <h1>Are you sure you want to log out?</h1>
  <div>
    <%= submit_tag 'Confirm Log Out', :class => "col-md-2 offset-md-5 btn btn-primary form-control" %>
  </div>
<% end %>