<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <main>
        <!-- Navigation Bar (navbar)-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/project/RateMyClass/app/assets/images/logo.png" alt="..." height="100">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Account</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Dropdown
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li> -->
                </ul>
            </div>
            </div>
        </nav>

        <!-- Course and Prof. Names -->
        <div>Course Name</div>
        <div>Prof. Name</div>

        <!-- Questions -->
        <div>Q1. On average, how many hours did you spend on assignments/homework for this course per week?</div>
        <form>
            <input type="text" id="q1" name="q1"><br>
          </form>
        <div>Q2. On average, how many hours did you spend on studying/test preparation for this course per week?</div>
        <form>
            <input type="text" id="q2" name="q2"><br>
          </form>
        <div>Q3. On a scale of 1 - 10, how difficult was this course? (Easiest to Hardest)</div>
        <form>
            <input type="radio" id="1" name="fav_language" value="1">
            <label for="1">1</label>
            <input type="radio" id="2" name="fav_language" value="2">
            <label for="2">2</label>
            <input type="radio" id="3" name="fav_language" value="3">
            <label for="3">3</label>
            <input type="radio" id="4" name="fav_language" value="4">
            <label for="4">4</label>
            <input type="radio" id="5" name="fav_language" value="5">
            <label for="5">5</label>
            <input type="radio" id="6" name="fav_language" value="6">
            <label for="6">6</label>
            <input type="radio" id="7" name="fav_language" value="7">
            <label for="7">7</label>
            <input type="radio" id="8" name="fav_language" value="8">
            <label for="8">8</label>
            <input type="radio" id="9" name="fav_language" value="9">
            <label for="9">9</label>
            <input type="radio" id="10" name="fav_language" value="10">
            <label for="10">10</label>
          </form>
        <div>Q4. On average, how many hours did you wish you had spent on completing assignments and/or preparing for this course per week?</div>
        <form>
            <input type="text" id="q4" name="q4"><br>
          </form>
        <form action="/index.html">
            <input type="submit" value="Submit">
          </form>

    </main>
  </body>
<html>