<% if session[:current_username] and session[:type] == 'student'%>
    <%= render 'form', review: @review %>
<% else %>
    <p>You are not signed in as a student!</p>
    <%= link_to 'Log in', login_path %>
    <%= link_to 'Sign up', signup_path %>
<% end %>
<%= link_to 'Back', homepage_path %>
