 <html>
  <head>
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%= csrf_meta_tags %>
  </head>
  <body>
      <p style="text-align:center;">
      <%= image_tag("logo.png", height:"60%", width:"60%") %>
      </p>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>